<?xml version="1.0"?>
<!--
用户访问与设备访问的控制是不同的，现阶段用户可以区分不同的角色，设备只有匿名和非匿名（必须有有效token））


-->
<configuration>
  <userApi>
    <!-- 基于area进行权限控制，每一个area会有黑白名单和authitem-->
    <area key="">
        <authitem roleid="*" controller="home" action="*" http="*"></authitem>
      <authitem roleid="*" controller="home" action="test" http="*"></authitem>
        <authitem roleid="*" controller="account" action="LoginwithJwt" http="*"></authitem>
        <authitem roleid="*" controller="account" action="ResetPassword" http="*"></authitem>
        <authitem roleid="*" controller="account" action="VerifyCode" http="*"></authitem>
        <authitem roleid="*" controller="param" action="*" http="*"></authitem>

      <Access Model="black">
      <!--white;白名单;black ：黑名单-->
      <IP >
      <!--需要配置的IP地址 -->
      </IP>
     
    </Access>
      </area>
    <area key="eureka">
       <authitem roleid="*" controller="apps" action="*" http="*"></authitem>
    </area>
    <area key="api">
      <authitem roleid="*" controller="account" action="login" http="*"></authitem>
      <authitem roleid="*" controller="account" action="loginOss" http="*"></authitem>
      <authitem roleid="*" controller="account" action="LoginwithJwt" http="*"></authitem>
      <authitem roleid="*" controller="account" action="Logout" http="*"></authitem>
      <authitem roleid="*" controller="param" action="*" http="*"></authitem>


    </area>
    <area key="sdk">
      <authitem roleid="*" controller="cbe" action="*" http="*"></authitem>
       <authitem roleid="*" controller="sale" action="*" http="*"></authitem>
    </area>
     
  </userApi>
  <deviceApi key="testkey">
   
    <authitem roleid="*" controller="anonListdata" action="" http="*">
      <param name="groupkey"  value="newschool"></param>
     
    </authitem>
    <!-- 匿名访问，roleid=“*” 开始-->
    <authitem roleid="*" controller="device" action="" http="*"></authitem>
    <authitem roleid="*" controller="error" action="" http="*"></authitem>
    <authitem roleid="*" controller="param" action="" http="*"></authitem>
    <!-- 匿名访问，roleid=“*” 结束-->

    <!-- 有token的访问，roleid的值固定为token 开始-->

    <authitem roleid="token" controller="senser" action="*" http="*"></authitem>
    <authitem roleid="token" controller="api" action="*" http="*"></authitem>

    <!-- 有token的访问，roleid的值固定为token  结束-->
    <Access Model="white">
      //white;白名单;black ：黑名单
      <AlowAccess Host="" Token="">

      </AlowAccess>
      <DenyAccess  Host="" Token="">

      </DenyAccess>
    </Access>
  </deviceApi>

</configuration>
