<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- taskType:enum_taskType {interval=0,everyday=1,everyHour=2,everyMinute=3,everySecond=4 };-->
  <!--paramValue:如果taskType=0,代表间隔时间，单位毫秒；如果不是0，代表基础时间，格式HHmmss -->
  <!--procesorName：定时执行的方法名，该方法在NodeCronTaskHandle类中定义的静态方法名 -->
  <!--检查客户端节点芯跳-->

  <CronTask  taskType="0"  paramValue="120000" procesorName="doImportCbeTask"></CronTask>

  <CronTask  taskType="0"  paramValue="120000" procesorName="doImportCbeWhInTask"></CronTask>
  <CronTask  taskType="0"  paramValue="120000" procesorName="doExpressEOrderTask"></CronTask>

  

</configuration>