<?xml version="1.0"?>
<configuration>
  <log4net>
    <appender name="dbDebugAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "log/"/>
      <!--编码格式-->
      <param name="Encoding" value="utf-8" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--允许随时删除日志-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--固定后缀-->
      <PreserveLogFileNameExtension value="true" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "5"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "Db_yyyy-MM-dd"/>
      <!--日志根据日期和大小混合模式滚动-->
      <param name= "RollingStyle" value= "Composite"/>
      <!--限制文件数-->
      <param name="MaxSizeRollBackups" value="100"/>
      <!--每个文件大小限制-->
      <maximumFileSize value="2MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="devDebugAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "log/"/>
      <!--编码格式-->
      <param name="Encoding" value="utf-8" />
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--允许随时删除日志-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--固定后缀-->
      <PreserveLogFileNameExtension value="true" />
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "5"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "devDebug_yyyy-MM-dd"/>
      <!--日志根据日期和大小混合模式滚动-->
      <param name= "RollingStyle" value= "Composite"/>
      <!--限制文件数-->
      <param name="MaxSizeRollBackups" value="100"/>
      <!--每个文件大小限制-->
      <maximumFileSize value="2MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>

    </appender>
    <!--信息日志配置-->
    <appender name="runInfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\runInfo.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="1024"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="RollingStyle" value="Date"/>
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock"></param>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>

    </appender>
    <appender name="biAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\biLoger.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="1024"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="RollingStyle" value="Date"/>
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock"></param>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd MMM yyyy HH:mm:ss,fff}  %p [%t] %class.%method  - %m%n"/>
      </layout>
    </appender>
    
    <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\perfLoger.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="1024"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="RollingStyle" value="Date"/>
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock"></param>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd MMM yyyy HH:mm:ss,fff}  %p [%t] %class.%method  - %m%n"/>
      </layout>
    </appender>
    <!--控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <logger name="dbLoger">
      <level value="DEBUG"/>
      <appender-ref ref="dbDebugAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="devDebug">
      <level value="DEBUG"/>
      <appender-ref ref="devDebugAppender"/>
    </logger>

    <logger name="runInfo">
      <level value="DEBUG"/>
      <appender-ref ref="runInfoAppender"/>

    </logger>
    <logger name="biLoger">
      <level value="DEBUG"/>
      <appender-ref ref="biAppender"/>

    </logger>
    <logger name="perfLoger">
      <level value="DEBUG"/>
      <appender-ref ref="perfAppender"/>

    </logger>
 



    <root>
      <level value="INFO"/>
       <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

</configuration>
