<?xml version="1.0" encoding="utf-8" ?>
<application>
  <!-- 
  Policy 0:平均分配流量,1:选择最快的服务器
  useHttps 0：只监听listenPort，1：只监听listenHttpsPort，2：同时两个端口（未实现）
 如果host=127.0.0.1,则所有网卡的信息都会被转发;如果定义为某一个网卡的地址,则只转发从IP地址过来的请求.
 mapType 0:端口转发，1,：http转发，根据appkey分组
  -->

  <group Appkey="mysql" Host="127.0.0.1" listenPort="4306" MaxWaitQueue="1000" Policy="0" useHttps="0" listenHttpsPort="-1"
     mapType="0">
    <portMap host="122.112.158.14" port="3306" httpsPort="-1" maxConnect="-1" minConnect="-1"   needCheckLive="false"></portMap>

  </group>
  <group Appkey="hyzgService" Host="127.0.0.1" listenPort="9001" MaxWaitQueue="1000" Policy="0" useHttps="0" listenHttpsPort="-1"
     mapType="1" >
    <portMap host="122.112.252.159" port="9001" httpsPort="-1" maxConnect="-1" minConnect="-1"   needCheckLive="false"></portMap>

  </group>
</application>
